@font-face {
    font-family: 'Dungeon';
    src: url('Dungeon.woff2') format('woff2'),
        url('Dungeon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

