* {
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    height: 100%;
}

body {
    background-image: url("../../imgs/background-image.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(65, 3, 3);
    margin: 0px;
}

.home-div {
    border: 1px rgb(133, 133, 133) solid;
    background-color: rgb(0, 0, 0);
    max-width: 50%;
}

.home-div.primary {
    margin: 1%;
    max-height: 50%;
    max-width: 100%;
    display:flex;
}

#chattable {
    height: 100%;
    max-width: 100%;
}


#chatbox-container {
    border-bottom: none;
    border-top: none;
    border-right: none;
    overflow: hidden;
}

#chatbox {
    width: fit-content;
    height: 87%;
}

#directory {
    border-bottom: none;
    border-top: none;
    border-left: none;
    width: 30%;
}


#aboutme {
    width: 100%;
    border: none;
    overflow: hidden;
    background-image: url(../../imgs/portraitclorine.png);
    background-repeat: no-repeat;
    background-size: 60% 87%;
    background-position: 130% 100%;
}

#home-info-container {
    height: max-content;
}

.title {
    background-color: rgb(136, 0, 0);
    text-shadow: 2px 1px rgb(133, 133, 133);
    font-family: 'neckromancer', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1vw ;
    margin: 2%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0 0 0 1vw;
}

.inner {
    text-shadow: 1px 1px rgb(133, 133, 133);
    font-family: 'neckromancer', Arial, Helvetica, sans-serif;
    font-size: 1vw;
    background-color: rgb(136, 0, 0);
    margin: 2%;
    padding: 5%;
    height: 87%;
}

.home-div#header, 
.home-div#footer {
   max-height: 15vh;
}

#aboutme .title {
    font-size: 1.5vw;
    justify-content: start;
    padding: 1% 0 1% 1%  ;
    background-color: rgb(0, 0, 0);
    color:  rgb(136, 0, 0);
    border-bottom: 2px rgb(133, 133, 133) dotted;
}

#wrapper {
    height: 100px;
    width: 1500px;
}

#wrapper img {
    position: relative;
    float:right;
    height: 50%;
    width: 50%;

}
#aboutme .inner {
    display: flex;
    flex-direction: row;
    font-family: "nightmare", Arial, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: 100;
    padding: 1% 0 1% 1% ;
    background-color: rgba(0, 0, 0, 0);
    max-height: 70%;
    color:  rgb(136, 0, 0);

}

#main-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    overflow: hidden;
    border-radius: 2%;
    height: 95%;
}

#header {
    border-radius: 10px 10px 0 0;
    flex-basis: 135px;
    max-height: 100px;
}

#footer {
    border-radius: 0 0 10px 10px;
}


#header marquee {
    display: flex;
    align-self: flex-end;
    border-top: 1px rgb(133, 133, 133) solid;
    text-shadow: 1px 1px rgb(133, 133, 133);
    font-size: 15px;
    padding-top: 1vh;;
    color: rgb(136, 0, 0);
    font-family: "neckromancer", Arial, Helvetica, sans-serif;
}

a:link,
a:visited,
a:hover, 
a:active {
    text-decoration: underline;
    margin: 0;
    color: black;
}





/* @media screen and (max-width: 853px), screen and (max-height: 500px){

}
*/
@media screen and (max-width: 480px){
    

}



@font-face {
    font-family: 'neckromancer';
    src: url("../../fonts/webfontkit-20250210-001440/neck_romancer_regular-webfont.woff2") format('woff2'),
         url("../../fonts/webfontkit-20250210-001440/neck_romancer_regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nightmare';
    src: url("../../fonts/the-nightmare-font/the_nightmare-webfont.woff2") format('woff2'),
         url("../../fonts/the-nightmare-font/the_nightmare-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}