* {
    box-sizing: border-box;
}


body {
    background-image: url("../../imgs/redbg.png");
    background-repeat: repeat;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.home-div {
    border: 1px rgb(0, 0, 0) solid;
    background-color: rgb(74, 0, 0);
}

#main-container {
    border: 4rem solid transparent;
    border-image: url("../../imgs/portraitbg.png") 80 150  round;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 5% 20%;
    padding: 10px;
    background-color: rgba(86, 5, 5, 0.689);
    border-radius: 10px;
    width: fit-content;
}

.home-div.primary {
    display: flex;
}

/* header css */

#header {
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 3rem, 20vh);
    align-items: center;
    font-family: 'neckromancer';
    padding: 1rem 0rem .3rem 0rem;
    gap: 2vh;
    color: rgb(255, 229, 229);
    text-shadow: 2px 3px rgb(168, 9, 9);
    border-bottom: 1px black solid;
}

#header marquee {
    border-top: 3px black double;
    padding-top: 1vh;
    font-size: clamp(.4rem, 1rem, 10vh);
    text-shadow: 2px 1px rgb(168, 9, 9);
}

/* first div */

ul {
    padding: 0 1vw;
}

.title {
    border-top: none;
    border-bottom: 3px black double;
    padding: 1vw;
    font-family: 'neckromancer';
    text-shadow: 2px 1px rgb(168, 9, 9);
    font-size: 1vw;
    background-image: url("../../imgs/greybg.png");
    background-size: contain;
    text-align: center;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    padding: 0 1vw;
    font-family: 'nightmare';
    font-size: 1vw;
    font-weight: 900;
    color: black;
    text-shadow: 1px 1px rgb(110, 57, 57);
}

.home-div.secondary {
    
}

#directory {
    width: 25%;
}

#aboutme {
    width: 50%
}

#chatbox-container {
    width: 25%;
}

#chatbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}


@media screen and (max-width: 1368px) {
    #main-container {
        margin: 40% 20%;
        width: 90%;
        border: 2rem solid transparent;
        border-image: url("../../imgs/portraitbg.png") 80 150  round;
    }

    .title {
        font-size: 2vw;
    }
    .inner {
        font-size: 2vw;
    }
}


@media screen and (max-width: 853px), screen and (max-height: 500px){
    #main-container {
        margin: 0;
        width: 100%;
        border: 2rem solid transparent;
        border-image: url("../../imgs/portraitbg.png") 80 150  round;
    }

    .title {
        height: 10vh;
        font-size: 2.5vw;
    }

    .inner {
        height: fit-content;
        padding: 0 1.3rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px){
    #directory, #chatbox-container, #aboutme {
        width: auto;
    }

    .title {
        font-size: 1.5rem;
    }

    .inner {
        height: fit-content;
        padding: 0 1.3rem;
        font-size: 1rem;
    }

    .home-div.primary {
        display: flex; 
        height: 20%;
        flex-direction: column;
    }

    .home-div.secondary {
        width: 100%;
    }

}



@font-face {
    font-family: 'neckromancer';
    src: url("../../fonts/webfontkit-20250210-001440/neck_romancer_regular-webfont.woff2") format('woff2'),
         url("../../fonts/webfontkit-20250210-001440/neck_romancer_regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nightmare';
    src: url("../../fonts/the-nightmare-font/the_nightmare-webfont.woff2") format('woff2'),
         url("../../fonts/the-nightmare-font/the_nightmare-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}